<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-rental-heading" data-cy="RentalCreateUpdateHeading" jhiTranslate="autoMaatApp.rental.home.createOrEditLabel">
        Create or edit a Rental
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.rental.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.rental.longitude" for="field_longitude">Longitude</label>
          <input type="number" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.rental.latitude" for="field_latitude">Latitude</label>
          <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.rental.fromDate" for="field_fromDate">From Date</label>
          <div class="input-group">
            <input
              id="field_fromDate"
              data-cy="fromDate"
              type="text"
              class="form-control"
              name="fromDate"
              ngbDatepicker
              #fromDateDp="ngbDatepicker"
              formControlName="fromDate"
            />
            <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.rental.toDate" for="field_toDate">To Date</label>
          <div class="input-group">
            <input
              id="field_toDate"
              data-cy="toDate"
              type="text"
              class="form-control"
              name="toDate"
              ngbDatepicker
              #toDateDp="ngbDatepicker"
              formControlName="toDate"
            />
            <button type="button" class="btn btn-secondary" (click)="toDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.rental.state" for="field_state">State</label>
          <select class="form-control" name="state" formControlName="state" id="field_state" data-cy="state">
            <option [ngValue]="null">{{ 'autoMaatApp.RentalState.null' | translate }}</option>
            <option *ngFor="let rentalState of rentalStateValues" [value]="rentalState">
              {{ 'autoMaatApp.RentalState.' + rentalState | translate }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.rental.customer" for="field_customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="customerOption" *ngFor="let customerOption of customersSharedCollection">
              {{ customerOption.lastName }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.rental.car" for="field_car">Car</label>
          <select class="form-control" id="field_car" data-cy="car" name="car" formControlName="car" [compareWith]="compareCar">
            <option [ngValue]="null"></option>
            <option [ngValue]="carOption" *ngFor="let carOption of carsSharedCollection">{{ carOption.licensePlate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
