<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-car-heading" data-cy="CarCreateUpdateHeading" jhiTranslate="autoMaatApp.car.home.createOrEditLabel">
        Create or edit a Car
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.car.brand" for="field_brand">Brand</label>
          <input type="text" class="form-control" name="brand" id="field_brand" data-cy="brand" formControlName="brand" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.car.model" for="field_model">Model</label>
          <input type="text" class="form-control" name="model" id="field_model" data-cy="model" formControlName="model" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.car.fuel" for="field_fuel">Fuel</label>
          <select class="form-control" name="fuel" formControlName="fuel" id="field_fuel" data-cy="fuel">
            <option [ngValue]="null">{{ 'autoMaatApp.Fuel.null' | translate }}</option>
            @for (fuel of fuelValues; track $index) {
              <option [value]="fuel">{{ 'autoMaatApp.Fuel.' + fuel | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.car.options" for="field_options">Options</label>
          <input type="text" class="form-control" name="options" id="field_options" data-cy="options" formControlName="options" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.car.licensePlate" for="field_licensePlate">License Plate</label>
          <input
            type="text"
            class="form-control"
            name="licensePlate"
            id="field_licensePlate"
            data-cy="licensePlate"
            formControlName="licensePlate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.car.engineSize" for="field_engineSize">Engine Size</label>
          <input
            type="number"
            class="form-control"
            name="engineSize"
            id="field_engineSize"
            data-cy="engineSize"
            formControlName="engineSize"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.car.modelYear" for="field_modelYear">Model Year</label>
          <input type="number" class="form-control" name="modelYear" id="field_modelYear" data-cy="modelYear" formControlName="modelYear" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.car.since" for="field_since">Since</label>
          <div class="input-group">
            <input
              id="field_since"
              data-cy="since"
              type="text"
              class="form-control"
              name="since"
              ngbDatepicker
              #sinceDp="ngbDatepicker"
              formControlName="since"
            />
            <button type="button" class="btn btn-secondary" (click)="sinceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.car.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.car.nrOfSeats" for="field_nrOfSeats">Nr Of Seats</label>
          <input type="number" class="form-control" name="nrOfSeats" id="field_nrOfSeats" data-cy="nrOfSeats" formControlName="nrOfSeats" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.car.body" for="field_body">Body</label>
          <select class="form-control" name="body" formControlName="body" id="field_body" data-cy="body">
            <option [ngValue]="null">{{ 'autoMaatApp.Body.null' | translate }}</option>
            @for (body of bodyValues; track $index) {
              <option [value]="body">{{ 'autoMaatApp.Body.' + body | translate }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
