<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="rental">
      <h2 data-cy="rentalDetailsHeading"><span jhiTranslate="autoMaatApp.rental.detail.title">Rental</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rental.id }}</span>
        </dd>
        <dt><span jhiTranslate="autoMaatApp.rental.code">Code</span></dt>
        <dd>
          <span>{{ rental.code }}</span>
        </dd>
        <dt><span jhiTranslate="autoMaatApp.rental.longitude">Longitude</span></dt>
        <dd>
          <span>{{ rental.longitude }}</span>
        </dd>
        <dt><span jhiTranslate="autoMaatApp.rental.latitude">Latitude</span></dt>
        <dd>
          <span>{{ rental.latitude }}</span>
        </dd>
        <dt><span jhiTranslate="autoMaatApp.rental.fromDate">From Date</span></dt>
        <dd>
          <span>{{ rental.fromDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="autoMaatApp.rental.toDate">To Date</span></dt>
        <dd>
          <span>{{ rental.toDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="autoMaatApp.rental.state">State</span></dt>
        <dd>
          <span jhiTranslate="{{ 'autoMaatApp.RentalState.' + rental.state }}">{{ rental.state }}</span>
        </dd>
        <dt><span jhiTranslate="autoMaatApp.rental.customer">Customer</span></dt>
        <dd>
          <div *ngIf="rental.customer">
            <a [routerLink]="['/customer', rental.customer.id, 'view']">{{ rental.customer.lastName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="autoMaatApp.rental.car">Car</span></dt>
        <dd>
          <div *ngIf="rental.car">
            <a [routerLink]="['/car', rental.car.id, 'view']">{{ rental.car.licensePlate }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/rental', rental.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
