<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (employee) {
      <div>
        <h2 data-cy="employeeDetailsHeading"><span jhiTranslate="autoMaatApp.employee.detail.title">Employee</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ employee.id }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.employee.nr">Nr</span></dt>
          <dd>
            <span>{{ employee.nr }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.employee.lastName">Last Name</span></dt>
          <dd>
            <span>{{ employee.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.employee.firstName">First Name</span></dt>
          <dd>
            <span>{{ employee.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.employee.from">From</span></dt>
          <dd>
            <span>{{ employee.from | formatMediumDate }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
