<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employee-heading" data-cy="EmployeeCreateUpdateHeading" jhiTranslate="autoMaatApp.employee.home.createOrEditLabel">
        Create or edit a Employee
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.employee.nr" for="field_nr">Nr</label>
          <input type="number" class="form-control" name="nr" id="field_nr" data-cy="nr" formControlName="nr" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.employee.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.employee.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="autoMaatApp.employee.from" for="field_from">From</label>
          <div class="input-group">
            <input
              id="field_from"
              data-cy="from"
              type="text"
              class="form-control"
              name="from"
              ngbDatepicker
              #fromDp="ngbDatepicker"
              formControlName="from"
            />
            <button type="button" class="btn btn-secondary" (click)="fromDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
