<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (car) {
      <div>
        <h2 data-cy="carDetailsHeading"><span jhiTranslate="autoMaatApp.car.detail.title">Car</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ car.id }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.car.brand">Brand</span></dt>
          <dd>
            <span>{{ car.brand }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.car.model">Model</span></dt>
          <dd>
            <span>{{ car.model }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.car.fuel">Fuel</span></dt>
          <dd>
            <span jhiTranslate="{{ 'autoMaatApp.Fuel.' + car.fuel }}">{{ car.fuel }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.car.options">Options</span></dt>
          <dd>
            <span>{{ car.options }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.car.licensePlate">License Plate</span></dt>
          <dd>
            <span>{{ car.licensePlate }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.car.engineSize">Engine Size</span></dt>
          <dd>
            <span>{{ car.engineSize }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.car.modelYear">Model Year</span></dt>
          <dd>
            <span>{{ car.modelYear }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.car.since">Since</span></dt>
          <dd>
            <span>{{ car.since | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.car.price">Price</span></dt>
          <dd>
            <span>{{ car.price }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.car.nrOfSeats">Nr Of Seats</span></dt>
          <dd>
            <span>{{ car.nrOfSeats }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.car.body">Body</span></dt>
          <dd>
            <span jhiTranslate="{{ 'autoMaatApp.Body.' + car.body }}">{{ car.body }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/car', car.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
