<div>
  <h2 id="page-heading" data-cy="InspectionPhotoHeading">
    <span jhiTranslate="autoMaatApp.inspectionPhoto.home.title">Inspection Photos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="autoMaatApp.inspectionPhoto.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inspection-photo"
        [routerLink]="['/inspection-photo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="autoMaatApp.inspectionPhoto.home.createLabel">Create a new Inspection Photo</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="inspectionPhotos?.length === 0">
    <span jhiTranslate="autoMaatApp.inspectionPhoto.home.notFound">No Inspection Photos found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="inspectionPhotos && inspectionPhotos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="photo">
            <div class="d-flex">
              <span jhiTranslate="autoMaatApp.inspectionPhoto.photo">Photo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="inspection.id">
            <div class="d-flex">
              <span jhiTranslate="autoMaatApp.inspectionPhoto.inspection">Inspection</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inspectionPhoto of inspectionPhotos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/inspection-photo', inspectionPhoto.id, 'view']">{{ inspectionPhoto.id }}</a>
          </td>
          <td>
            <a *ngIf="inspectionPhoto.photo" (click)="openFile(inspectionPhoto.photo, inspectionPhoto.photoContentType)">
              <img
                [src]="'data:' + inspectionPhoto.photoContentType + ';base64,' + inspectionPhoto.photo"
                style="max-height: 30px"
                alt="inspectionPhoto image"
              />
            </a>
            <span *ngIf="inspectionPhoto.photo">{{ inspectionPhoto.photoContentType }}, {{ byteSize(inspectionPhoto.photo) }}</span>
          </td>
          <td>
            <div *ngIf="inspectionPhoto.inspection">
              <a [routerLink]="['/inspection', inspectionPhoto.inspection.id, 'view']">{{ inspectionPhoto.inspection.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/inspection-photo', inspectionPhoto.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/inspection-photo', inspectionPhoto.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(inspectionPhoto)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
