<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (routeStop) {
      <div>
        <h2 data-cy="routeStopDetailsHeading"><span jhiTranslate="autoMaatApp.routeStop.detail.title">Route Stop</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ routeStop.id }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.routeStop.nr">Nr</span></dt>
          <dd>
            <span>{{ routeStop.nr }}</span>
          </dd>
          <dt><span jhiTranslate="autoMaatApp.routeStop.route">Route</span></dt>
          <dd>
            @if (routeStop.route) {
              <div>
                <a [routerLink]="['/route', routeStop.route.id, 'view']">{{ routeStop.route.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="autoMaatApp.routeStop.location">Location</span></dt>
          <dd>
            @if (routeStop.location) {
              <div>
                <a [routerLink]="['/location', routeStop.location.id, 'view']">{{ routeStop.location.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/route-stop', routeStop.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
